body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    display: inline;
}

li {
    text-decoration: none;
}

li a:hover {
    background-color: teal;
    color:navy
}

nav{
    background-color: #006666;
    text-align: center;
    border: 1px solid #2E4053;
    width: 1350px;
    margin: 0 auto;
}
main{
    text-align: center;
    width: 33.33%;
    padding: 15px;
    margin: 0 260px 0 276px;
    background-color: rgba(0,128,128,0.3);
    border: 1px solid rgba(130, 128, 128, 0.366);
}
#navegar {
    position: fixed;
    top: 0;
    width: 100%;
}

main header h1 {
    color: lightgreen;
}
h1 {
    border-bottom: 2px solid grey;
}
#mais-indic {
    float:right
}

main article p {
    max-width: 70%;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

aside{
    float: right;
}

footer{
    text-align: center;
    width: 71%;
    height: 100%;
    margin: -19px 250px 0 276px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 5px 5px 5px;
    border: 1px solid rgba(130, 128, 128, 0.366);
}

footer p {
    padding: 0;
    margin: 0 0 0 9px;
}

footer ul {
    padding: 0;
}

footer ul li a {
    padding: 0;
    margin: 0 10px;
}