body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
form {
    border-style: groove;
    border: solid rgba(0, 0, 0, 0.437);
    border-width: 2px;
    border-radius: 4px;
    margin: 5px;
    width: 300px;
    height: 250px;
    padding: 10px, 4px, 7px, 4px;
}

p{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.email {
    background-color: #E9ECEF;
    border-radius: 4px;
    border-style: hidden;
    margin-left: 25px;
    padding-left: 5px;
    margin-right: 205px;
    text-align: left;
    margin-top: 10px;
    width: 78%;
}
.email:hover {
    background-color: #DEE2E6;
}
.email:focus {
    border-color: #000000;
    background-color: #FFFFFF;
    border-style:solid;
    
}
label {
    font-size: 12px;
    margin-right: 205px;
    text-align: left;
    padding-left: 25px;
}

.assinar {
    background-color: #1971C2;
    color: white;
    border-radius: 4px;
    border-style: hidden;
    margin-left: 25px;
    margin-top: 10px;
    width: 80%;
}

.assinar:hover {
    background-color: #1864AB;
    color: white;
    border-radius: 4px;
    border-style: hidden;
    padding: 5px, 15px, 5px, 15px;
}
.assinar:focus {
    border-color: #000000;
    border-style: solid;
}